<section class="section about{{ classes ? " #{ classes }" }}">

  <div class="about__cover">
    <figure class="image --full --framed">
      <img src="{{ data.image.url }}" alt="">
    </figure>
  </div>
  
  <div class="about__content">
    <div class="container-fluid --max-width">
      <div class="row">
        <div class="col-12 col-lg-5">
          <div class="about__intro">
            <h4>{{ data.title }}</h4>
            <h3>{{ data.intro }}</h3>
            <img src="{{ site.theme.link }}/static/svg/logo-iso.svg" alt="ISO" class="mt-4">
          </div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">
          <div class="typo">
            {{ data.text }}
          </div>
          <div class="about__team">
            <ul>
              {% for entry in data.team %}
                <li>
                  <h4>{{ entry.entry.name }}</h4>
                  <label>{{ entry.entry.position }}</label>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
