<section class="section products{{ classes ? " #{ classes }" }}">
  <div class="container-fluid">
    <div class="row">
      {% for entry in data %}
        <div class="col-12 col-lg-6 p-5 d-flex justify-content-center border-bottom{{ loop.first ? ' border-end' }}">
          <article class="product">
            <h2 class="product__title">{{ entry.entry.title }}</h2>
            <h4 class="product__subtitle">{{ entry.entry.subtitle }}</h4>
            <div class="typo">
              {{ entry.entry.description }}
            </div>

            {% if entry.entry.link.url %}
              <a href="{{ entry.entry.link.url }}" rel="noopener noreferrer"{{ entry.entry.link.target ? ' target="_blank"' }} class="button --primary"><span>{{ entry.entry.link.title }}</span></a>
            {% endif %}

          </article>
        </div>
      {% endfor %}
    </div>
  </div>

</section>
